<span class="name-header">
    <img src="/images/Ju_Al_Youm.svg" alt="Ju Al Youm" class="name-image" />
</span>
<div class="container info-container">
    <div class="row">
        <div class="col-12 text-center info line-height">
            Senior Visual/UI Designer
        </div>
        <div class="col-12 text-center info line-height">
            <a href="mailto:jualry@gmail.com" class="mail-link">jualry@gmail.com</a>
        </div>
    </div>
</div>
<div class="pad-top"></div>
