<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header') %>
<body>
    <div id="main" class="no-max-with">
        <div class="pad-top"></div>
        <div class="pad-top"></div>
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3">
                <div class="side-bar">
                    <div class="name">JU AL YOUM</div>
                    <a href="/" class="back">< BACK TO HOME</a>
                    <div class="pad-top"></div>
                    <div class="links">
                        <a href="javascript:void(0);" class="link bold active">
                            Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 col-xl-9">
                <div class="pad-top"></div>
                <div class="pad-top"></div>
                <div class="pad-top"></div>
                <div class="client-heading">
                    Rocco DiSpirito
                </div>
                <div class="section" id="website">
                    <div class="project-task">
                        <span class="bold">Project Task:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </div>
                    <div class="project-info">
                        <div class="row">
                            <div class="col-4 pinfo">
                                <span class="bold">Role:</span> UI, graphic design
                            </div>
                            <div class="col-4 pinfo">
                                <span class="bold">Timeline:</span> 4 weeks
                            </div>
                            <div class="col-4 pinfo">
                                <span class="blue">Website</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="pad-top"></div>
                                <div class="project-image">
                                    <img src="/images/Rocco_DiSpirito/Rocco_DiSpirito_Website_01.jpg" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="pad-top"></div>
                                <div class="pad-top"></div>
                                <div class="pad-top"></div>
                                <div class="project-image">
                                    <img src="/images/Rocco_DiSpirito/Rocco_DiSpirito_Website_02.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="pad-top"></div>
                                <div class="pad-top"></div>
                                <div class="pad-top"></div>
                                <div class="project-image">
                                    <img src="/images/Rocco_DiSpirito/Rocco_DiSpirito_Website_03.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
