* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 576px) {
    .side-bars {
        border-left: 1px solid #D2D2D2;
        border-right: 1px solid #D2D2D2;
        border-width: thin;
    }

    .side-bar {
        display: block !important;
    }

    .right-bar {
        border-right: 1px solid #D2D2D2 !important;
    }

    .hide-mobile {
        display: block !important;
    }

    .hide-desktop {
        display: none !important;
    }

    .offset-centering {
        margin-left: 3% !important;
        margin-right: auto !important;
    }

}

@media (min-width: 768px) {
    .side-bar {
        display: block !important;
    }

    .offset-centering {
        margin-left: 0% !important;
        margin-right: auto !important;
    }
}

@media (min-width: 992px) {
    .offset-centering {
        margin-left: 3% !important;
        margin-right: auto !important;
    }

}

@media (min-width: 1200px) {
    .offset-centering {
        margin-left: 10% !important;
        margin-right: auto !important;
    }

}

@media (min-width: 1400px) {  }


@font-face {
    font-family: openSansRegular;
    src: url("/fonts/OpenSans/OpenSans-Regular.otf") format('opentype'),
         url("/fonts/OpenSans/OpenSans-Regular.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: openSansBold;
    src: url("/fonts/OpenSans/OpenSans-Bold.otf") format('opentype'),
         url("/fonts/OpenSans/OpenSans-Bold.ttf") format('truetype');
    font-style: normal;
}

#main {
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
    font-family: openSansRegular;
    color: #1a1818;
    font-weight: bold;
}

.mail-link {
    font-family: openSansRegular;
    font-size: 12px;
    color: #1a1818;
}

.mail-link:hover {
    color: #000;
}

.gray-bg {
    background-color: #F4F4F4;
}

.white-bg {
    background-color: #fff;
}

.white-triangle {
    width: 45px;
}

.offset-white-triangle {
    margin-top: -8px;
}

.intro {
    display: block;
    font-size: 12px;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 30px;
}

.blue-button {
    display: inline-block;
    background-color: #0091AC;
    color: #fff;
    border-radius: 25px;
    font-family: openSansRegular;
    font-size: 12px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 7px 15px;
    min-width: 136px;
}

.blue-button:hover {
    background-color: #0091AC;
    color: #fff;
}

.line-height {
    line-height: 20px;
}

.no-max-with {
    max-width: 2300px !important;
}

.name-header {
    padding: 15px;
    text-align: center;
    font-family: openSansBold;
    text-transform: uppercase;
    display: block;
    color: #1a1818;
    font-size: 24px;
}

.lock {
    width: 35px;
}

.pw-input {
    border: 1px solid #D5D5D5;
    text-align: center;
    font-size: 12px;
    font-family: openSansRegular;
}

.name-image {
    width: 100%;
    max-width: 200px;

}

.reduce-opacity {
    opacity: 0.3;
}

.info-container {
    width: 100%;
    max-width: 568px;
}

.info {
    width: 100%;
    font-family: openSansRegular;
    font-size: 12px;
    color: #1a1818;
}

.skill {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.pad-top {
    padding-top: 15px;
}

.bold {
    font-family: openSansBold;
}

.text-left {
    text-align: left !important;
}

.task-row {
    width: 100%;
}

.client {
    font-size: 14px;
    padding-top: 7px;
}

.work-samples {
    display: block;
    width: 100%;
}

.side-bar {}

.hide-desktop {
    display: block;
}

.hide-mobile {
    display:none;
}

.right-bar {
    border-right: 1px solid #fff;
}

.side-bar .name {
    display: block;
    padding-top: 15px;
    color: #B4B4B4;
    text-underline: none;
    font-size: 21px;
}

.side-bar .back {
    display: block;
    padding-top: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.links {
    padding-top: 15px;
}

.links .link {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #949494;
    padding-top: 7px;
}

.links .active {
    color: #0091AC;
    text-decoration: none;
    font-weight: bolder;
}

.links .active .arrow {
    display: inline-block;
    background: url("/images/blue_arrow.svg") no-repeat;
    background-size: 8px;
    width: 8px;
    height: 9px;
    margin-left: 7px;
}

.client-heading {
    font-size: 21px;
    color: #000000;
}

.project-task {
    font-family: openSansRegular;
    font-size: 12px;
    padding-top: 15px;
}

.project-info {
    padding-top: 15px;
}

.pinfo {
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    /*width: 32%;*/
    width: auto;
}

.pinfo .blue {
    font-size: 12px;
    color: #0091AC;
}

.pinfo .pad-right {
    padding-right: 15px;
}

.project-image {
    padding: 15px;
    padding-left: 0px;
}


.project-image-wrapper {
    height: 1000px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 15px;
    padding-bottom: 100px;
}

.also-interested {
    display: block;
    width: 100%;
    max-width: 488px;
    margin: 0 auto;
    font-size: 18px;
    font-family: openSansRegular;
    padding-top: 45px;
    color: #949494;
}

.also-interested .row {
    max-width: 350px;
    margin: 0 auto;
}

.thumbnail-copy {
    font-size: 12px;
    font-family: openSansRegular;
    text-decoration: none;
    padding-top: 7px;
    color: #949494;
}

a {
    text-decoration: none;
}